.solution-area {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    float: left;
}

.solution-area > .question {
    width: 78%;
}

.choice {
    position: relative;
}

.correct-option {
    color: green;
    position: absolute;
    right: 30px;
    margin-top: -18px;
    top: 50%;
}

.wrong-option {
    color: red;
    position: absolute;
    right: 30px;
    margin-top: -18px;
    top: 50%;
}

.view-solution {
    float: right;
    min-width: 150px;
}

.logic-display {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #99A;
    width: 66.5%;
    box-sizing: border-box;
    margin-bottom: 20px
}
