body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
}

.tests-list {
    overflow: visible;
    width: 90%;
    background: #fff;
    float: left;
    padding: 5%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.tests-heading {
    margin: 10px;
    color: #666;
}

.tests-type-toggle {
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 10px;
}

.type-toggle {
    font-size: 1.2em;
    font-weight: 500;
    display: inline;
    float: left;
    background: #fafafa;
    color: #333;
    padding: 0px 10px;
    border: 1px solid #333;
    box-sizing: border-box;
    cursor: pointer;
}

.type-toggle:hover {
    background: #eee;
    color: #111;
}

.type-toggle.active {
    background: #111;
    color: #fafafa;
    box-shadow: 0px 3px 5px #999;
}

.test-options {
    width: 100%;
    display: inline-block;
    height: 260px;
}

.tests-character-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3em;
    color: #555;
}

.test-option {
    vertical-align: middle;
    box-shadow: 2px 2px 3px #131028;
    color: #003366;
    font-weight: bold;
    width: 270px;
    height: 180px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    cursor: pointer;
    background-image: url("../../bgtest.jpg");
}

.test-option > div {
    margin-top: calc(50% - 30px);
    overflow: hidden;
}

.test-option:hover {
    box-shadow: -2px -2px 3px #838098;
}

.test-details-option {
    top: -30px;
    position: relative;
    background: #a3a0b8;
    box-shadow: 2px 3px 5px #131028;
    color: #003366;
    width: 270px;
    height: 240px;
    line-height: 120px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    margin-bottom: 0;
}

.test-details-option > button:nth-child(1) {
    bottom: 125px;
}

.test-details-option > button:nth-child(2) {
    bottom: 80px;
}

.test-details-option > button {
    position: absolute;
    border: none;
    background: #b3b0f8;
    padding: 10px;
    box-shadow: 2px 2px 5px #9969af;
    margin: auto;
    width: 100px;
    right: 0;
    bottom: 20px;
    left: 0;
    cursor: pointer;
}

.test-details-option > button:hover {
    box-shadow: 1px 1px 2px;
}

.test-area {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.question {
    width: 100%;
    float: left;
    padding: 2% 5%;
    box-sizing: border-box;
    font-size: medium;
    font-family: Helvetica;
}

.question > p {
    font-size: medium;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
}

.question img {
    max-width: 100%;
}

.modify {
    font-size: medium;
}

.sections {
    padding-bottom: 20px;
    text-align: right;
    margin: 10px;
    width: calc(100% - 20px);
    background: #eee;
}

.header {
    top: 0;
    right: 0;
    left: 0;
    background: rgba(246, 181, 25, 0.8);
    color: white;
    overflow: hidden;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 2em;
}

.test-area > div:not(.content-loader) > div:nth-child(1) {
    width: 78%;
    float: left;
}

.question span {
    display: inline-block;
    font-weight: 400;
    font-size: medium;
}

.question > h3 {
    font-weight: 500!important;
    overflow: auto;
}

.rc-passage {
    width: 48%;
    height: 420px;
    float: left;
    padding: 5px;
    margin-right: 5%;
    overflow-y: scroll;
    font-size: medium;
}

.rc-display {
    width: 50%;
    height: 420px;
    float: left;
    padding: 5px;

    margin-right: 5%;
    overflow-y: scroll;
    font-size: large;
}

p.tita-choice {
    border: none;
}

#tita-input {
    width: 200px;
    border: 1px solid #888;
    padding: 8px 5px;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.2em;
}

.tita-input-buttons {
    width: 200px;
}

.tita-input-button {
    width: 33.33%;
    height: 40px;
    background: #111;
    color: #fafafa;
    border: 1px solid #888;
}

.choices {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.choice {
    width: 98%;
    float: left;
    margin: 0;
    padding: 5px 10px;
    font-size: medium;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: #fff;
    color: black;
}

.choice-radio {
    margin-right: 10px;
}

.choice span {
    display: inline-block;
}

button {
    transition: all 0.3s ease;
}

.section-button {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
    background: #0099cc;
    color: white;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 80px;
}

.section-button:hover {
    background: #006b8e;
}

.next-prev-button {
    float: left;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #7f7f7f;
    background: #3b3b3b;
    color: white;
    min-width: 100px;
    height: 35px;
    margin-top: 20px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.submit-exam {
    background:  #990033;
}

.demo-tst {
    position: relative;
    margin-top: 45px;
    margin-right: 10px;

}

.next-prev-button:hover {
    box-shadow: 1px 1px 3px #5a5a5a;
    background: #5d5d5d;
}

.save-prev {
    background: #0098df;
}

.save-next {
    background: #0098df!important;
}

.save-prev:hover, .save-next:hover {
    background: #0087b4!important;
}

.submit-next {
    background: #59ab48!important;
}

.submit-next:hover {
    background: #33cc33!important;
}

.submit-exam {
    bottom: 30px;
}

.index-panel {
    margin: 10px;
    width: calc(22% - 20px);
    height: calc(100vh - 90px);
    float: left;
}

.i-panel {
    margin-left: 44%;
    width: calc(22% - 20px);
    height: calc(100px);
    float: left;
}

.user-index-panel {
    background: #f3f3f3;
    padding: 5%;
    margin-bottom: 15px;
}

.user-index-panel > span {
    font-size: 1.1em;
    color: rgb(90, 90, 240);
    font-weight: 500;
}

.user-index-panel > div {
    margin-top: 5px;
    font-size: 0.8em;
    color: #666;
}

.user-details {
    position: absolute;
    width: 90%;
    padding: 5%;
    top: 70px;
}

.index-panel-buttons {
    background: #f3f3f3;
    padding: 5%;
}

.submit-test {
    text-align: center;
}

.question-button {
    display: inline-block;
    padding: 5px;
    background: #e1dfeb;
    width: 30px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    margin: 3px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-sizing: border-box;
}

.question-button:hover {
    background: #c3c0d8;
}

.question-button.attempted {
    background: #afceff;
}

.question-button.attempted:hover {
    background: #79ccfe;
}

.question-button.submitted {
    background: #b0f2a2;
}

.question-button.submitted:hover {
    background: #77ff70;
}

.question-button.marked-answered {
    background: #d202d2;
    color: white;
    position: relative;
    vertical-align: top;
    text-align: left;
    line-height: 10px;
}

.question-button-tick {
    position: absolute;
    color: lime;
    bottom: 0;
    right: 15px;
    height: 15px;
    width: 15px;
}

.question-button.marked-unanswered {
    background: #d202d2;
    color: white;
}

.message {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 40%;
    height: 80px;
    line-height: 80px;
    margin: 0 15%;
    background: #dfdfff;
    opacity: 0.8;
    border: 1px solid #6f6f8f;
}

.show {
}

.hide {
    display: none;
}

.calculator-div {
    position: absolute;
    z-index: 1000;
}

.calculator {
    overflow-y: auto;
    width: 270px;

    box-shadow: 0px 0px 6px 1px;
}

.calculatorTitlebar {
    background: #4286f3;
    padding: 7px 0 7px 10px;
    color: #f1f1f1;
    overflow: auto;
}

.calculatorTitlebar > span {
    float: left;
}

.close {
    position: absolute;
    right: 10px;
}

.close:hover {
    color: #f96;
}

.calculatorContent {
    height: 355px;
    width: 250px;
    padding: 10px;

    background: #ddd;
}

.display {
    width: 94%;
    margin: 8px 3% 4px 3%;
    box-sizing: border-box;
    padding: 3px 10px;
    text-align: right;
    font-size: 1.4em;
}

.button {
    height: 35px;
    width: 40px;
    padding: 5px;
    margin: 5px!important;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 1px #333;

    background: #f6f6f6;
    color: #555;
    font-size: 1em;
    font-weight: 600;
    float: left;
}

.button:hover {
    background: #eee;
}

.button.large {
    width: 90px;
    font-size: 1.5em;
}

.button.equal {
    border: 1px solid #00ab00;
    box-shadow: 1px 1px 1px #001000;
    background: #27ae60;
    color: white;
}

.button.red {
    border: 1px solid #ab0000;
    box-shadow: 1px 1px 1px #004000;
    background: #e74c3c;
    color: white;
}

.calculator-icon {
    cursor: pointer;
    color: orange;
    float: right;
    margin: 20px;
}

.promoTitle {

    text-align: center;
}

.section-button1 {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
    background: #0099cc;
    color: white;
    height: 40px;
    margin: -20px -50px;
    padding: 5px;
    cursor: pointer;
    min-width: 80px;
    position:fixed;
    top:50%;
    left:50%;
}

.button1 {
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
}

.section-button2 {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
    background: #0099cc;
    color: white;
    height: 25px;
    margin-top: 15px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 80px;
}

* {
    box-sizing: border-box;
}

/* Create four columns of equal width */
.columns {
    float: left;
    width: 48%;
    padding: 8px;
    height: 700px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: orange;
    color: white;
    font-size: 25px;
    text-align: center;
}

.price-table-paybutton {
    text-align: center;
    color: #008CBA;
    font-size: 18px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 2px;
    text-align: left;
}

.course-price-name {
    color: darkorange;
    text-align: center;
}
/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.paidTest {
    color: lightgrey;
}

.price-table-checkbox {
    text-align: left;
}

.price-table-totalprice {
    background: lightgrey;
    text-align: center;
}

.qsa-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 4px;
    position: relative;
    left: 65px;
}

.qsa-button:hover {
    background-color: #008CBA;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.section-button1 {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
    background: #0099cc;
    color: white;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 80px;
    position: relative;
    bottom: 40px;
}

.next-prev-button1 {
    float: left;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #7f7f7f;
    background: #3b3b3b;
    color: white;
    min-width: 220px;
    height: 35px;
    margin-top: 20px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 330px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 8px;
    float: left;
    position: relative;
    left: 90px;
}

.profile-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile-container {
    padding: 0 16px;
}

.profile-container::after {
    content: "";
    clear: both;
    display: table;
    border-radius: 5px;
}

.profile-title {
    color: grey;
    font-size: 24px;
}

.profile-email {
    color: grey;
    font-size: 16px;
}

.profile-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #E35401;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-button:hover {
    opacity: 0.3;
}

#profile-button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #E35401;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: relative;
}

#profile-button1:hover {
    opacity: 0.7;
}

.profile-a {
    text-decoration: none;
    font-size: 22px;
    color: #E35401;
}

#profile-header {
    text-align: center;
    color: #E35401;
}

.profile-pic {
    width: 100%;
}

.profile-test-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 520px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 8px;
    position: relative;
    left: 100px;
    top: 100px;
}

.profile-test {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 20px;
}

.profile-test:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.section-button2 {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
    background: #E35401;
    color: white;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 80px;
    position: relative;
    bottom: 8px;
    left: 13px;
}

.section-button2:hover {
    background: #0099cc;
}

.paytmimg {
    position: relative;
    width: 30%;
    left: 35%;
}

.paytmimg2 {
    position: relative;
    width: 50%;
    top: 100px;
    left: 25%;
}

.section-button4 {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #0089b6;
    background: #0099cc;
    background-color: grey;
    color: white;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    min-width: 80px;
}

.ourteam {
    margin-top: 105px;
    margin-left: 180px;
}

.card-photo{
    float: inherit;
    height: 350px;
    width: 350px;
    margin-bottom: 15px;
    border:1px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    -webkit-transition: all 1.6s ease;
    -moz-transition: all 1.6s ease;
    -ms-transition: all 1.6s ease;
    transition: all 1.6s ease;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    top:0;
}

.sayantan {
    position: relative;
    background-image: url("../../our_team/sayantan.png")!important;
}

.dhiman {
    background-image: url("../../our_team/dhiman.png")!important;
}

.sagar {
    background-image: url("../../our_team/sagar.png")!important;
}

.avijit {
    background-image: url("../../our_team/avijit.png")!important;
}

.aritra {
    background-image: url("../../our_team/aritra.png")!important;
}

.card-photo:hover {
    cursor: pointer;
    border: 1.6px solid #ff0000;
}

.sayantan:hover{
    background-image: url("../../our_team/sayantan_text.png")!important;
}

.dhiman:hover{
    background-image: url("../../our_team/dhiman_text.png")!important;
}

.sagar:hover{
    background-image: url("../../our_team/sagar_text.png")!important;
}

.avijit:hover{
    background-image: url("../../our_team/avijit_text.png")!important;
}

.aritra:hover{
    background-image: url("../../our_team/aritra_text.png")!important;
}

.card-info {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.team-card {
    float : left;
    margin-top: 20px;
    margin-right: 180px;
    height: 350px;
    width: 350px;
    margin-bottom: 200px;
}


.wallet-check-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 140px;
    margin: auto;
    text-align: right;
    font-family: arial;
    font-size: 20px;
    border-radius: 8px;
    position: relative;
}

.wallet-check-card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 140px;
    margin: auto;
    text-align: right;
    font-family: arial;
    font-size: 20px;
    border-radius: 8px;
    position: fixed;
}