.user-profile-pic {
    width: 30%;
    float: left;
    text-align: center;
}

.user-profile-pic-image {
    margin: 10px auto;
    text-align: center;
}

#profile-pic {
    display: block;
    height: 120px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(./images/user.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.browse-wrap {
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    background-color: #efefef;
}

.browse-wrap > .title {
    color: #f96;
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma, arial, sans-serif;
}

.browse-wrap input.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    height: 100px;
    cursor: pointer;
    position: absolute;
    font-size: 1000px !important;
}

button#upload-file {
    font-size: 15px;
    border: none;
    background: #f96;
    color: #fcfcfc;
    padding: 12px 25px;
    margin-bottom: 15px;
}

.user-profile-details {
    width: 49%;
    margin: 1% 8%;
    float: left;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.user-profile-details > span {
    margin: 10px;
    display: inline-block;
}

span.change-password {
    cursor: pointer;
    color: #333;
    font-weight: 500;
}

.change-password-box {
    margin: 10px;
    width: 260px;
}

input.change-password {
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
}

input#current-password {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input#repeat-new-password {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#update-password {
    color: white;
    background: #478fff;
    border: none;
    padding: 10px;
    margin: 10px 0;
}

@media only screen and (max-width: 675px) {

    .browse-wrap {
        margin: 0!important;
    }

    .change-password-box {
        width: 100%!important;
    }
}
