#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    border: 1px solid #e7e7e7;
    background-color: rgba(246, 181, 25, 0.8);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;

.narrow{
    width: 50%;
}
.dynamic{
    width:auto;
}
}
td{
    text-align: left;
    height: 20px;
    border: 1px solid black;

}
th{
    text-align: center;
    border: 1px solid black;
}
#top {
    font-size: 100%;
    font-weight: bold;
    height: 40px;
    width: 90px;
    float: right;
}
#topnav {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgba(246, 181, 25, 0.8);
}

#navbar li {
    float: left;
	color: black;
}

.features {
    text-align: center;
    padding: 40px 0;
    padding-right: 4%;
    background: #ffffff;
}

#fixedbutton {
    position: fixed;
    bottom: 10px;
    right: 20px; 
}

hr {
	color: #333;
}
.features-heading {
    margin: 30px 0 20px 10%;
}

.features-heading2 {
    margin: 30px 0 20px 6%;
    font-size: 10px;
}

.features h1 {
	color: #ffc10e;
	border-bottom: 5px double;
	margin: auto;
	width: 350px;
}

h2 {
color: #ffc10e;
}
.sbi {
	text-align: left;
	vertical-align: top;
	margin: 50px 0 0 6%;
	color: #555;
	display: inline-block;
}
