@import './custom/profileContainer.css';
@import './custom/testContainer.css';
@import './custom/testslist.css';

.content-loader {
  background-image: url('../images/loader2.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  opacity: 1;
  z-index: 4;
}