.instructions-header {
    margin: 2%;
}

.instructions-content {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 2%;
    padding: 2%;
    background: #f3f3f3;
    color: #505050;
    margin-bottom: 10%;
    text-align: center;
}

.instructions-content > span {
    text-align: center;
    font-size: 18px!important;
    padding: 10px 0;
    border-bottom: 3px double #333;
}

.instructions-content > div {
    text-align: left;
}

p.instructions-topic {
    font-size: 18px!important;
}

p.instructions-topic > u {
    text-decoration: none;
    border-bottom: 3px solid #999;
}

li > ul {
    list-style-type: disc;
    padding-left: 40px;
}

.instructions-content > div > ol {
    -webkit-padding-start: 15px;
}

ol {
    line-height: 25px;
}

.red {
    color: red;
}

.note {
    font-style: italic;
}

 .index-panel-instructions {
     display: block;
     margin-left: -25px;
     margin-bottom: 5px;
 }

span.circle {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    margin-right: 10px;
    float: left;

}

span.grey.circle {
    background: grey;
}

span.green.circle {
    background: green;
}

span.red.circle {
    background: red;
}

span.purple.circle {
    background: purple;
}

.user > .user-image {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 50px;
    background: url('../Profile/images/user.png') no-repeat;
    background-size: contain;
    background-position: left;
    box-sizing: border-box;
}

.user {
    overflow: auto;
    margin-bottom: 20px;
}

#accept-instructions-form > div > input {
    float: left;
    margin-top: 3px;
}

#accept-instructions-form > div > p {
    margin: 0;
    float: left;
}

.start-test-div {
    text-align: center;
    width: 100%;
    height: 50px;
    float: none;
}

#start-test {
    float: none!important;
    margin: 15px auto!important;
    background: #0098df;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 2px;
    box-shadow: 0px 4px 0px rgba(0,152,223,0.3);
}

#start-test:hover {
    background: rgba(0,152,223,0.7);
    box-shadow: 0px 4px 0px #0098df;
}

#start-test:disabled {
    background: #fafafa;
    cursor: default;
    color: #666;
}
