.dropdown {
    border-radius: 15px;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    border: 1px solid #e7e7e7;
    height: 40px;
    width: 300px;
    background: #fff;
    padding-top: 1%;
}

.dropdown:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.tt {
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    border: 1px solid #e7e7e7;
    height: 40px;
    width: 300px;
    background: #fff;
    padding-top: 1%;
    visibility: hidden;
}

.nav-button.mobile {
	margin: 0 25%!important;
	position: absolute;
	right: -150px;
}

.dropdown__content {
    max-height:450px;
    overflow-y:auto;
    border-radius: 15px;
    display: none;
    padding: 15px;
    text-align: left;
    position: absolute;
    font-size: 15px;
    width: 300px;
    border: 1px solid #e7e7e7;

}

.dropdown__content li{
    margin-left: -40px;
    max-height:450px;
    overflow-y:auto;
    overflow: hidden;
    border-radius: 15px;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    text-align: center;
    border: 1px solid #e7e7e7;
    min-height: 40px;
    width: 283px;
    background: #fff;
    padding-top: 1%;
}

.dropdown__content li:hover{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.banner-button-div{
	position: absolute;
	margin-top: 15%;
	margin-left: 35%;
	margin-right: 20%;
	height: 200px;
}

.banner-button-div .banner-button{
	border-radius: 25px;
	margin-left: 50px;
	font-size: 22px;
	background-color: rgb( 82, 204, 91);
	height:33px;
	width: 150px;
	color: black;
	text-align: center;
}

.dropdown--active .dropdown__content {
    display: block;
    background: #fff;
    border: 1px solid #e7e7e7;
}

.dropdown-embedded{
	position: absolute;
	margin-top: 15%;
	padding-top: 3%;
	padding-bottom: 0%;
    justify-content: center;
    align-content: center;
    align-items: center;
	height: 200px;
	width: 100%;
	background: rgba( 239, 239, 61 , 0.4);
	text-align: center;
	font-size: 30px;
}

.dropdown-embedded .banner-button{
	border-radius: 25px;
	font-size: 22px;
	background-color: rgb( 82, 204, 91);
	height:33px;
	width: 150px;
	color: black;
	text-align: center;
}

.dropdown-embedded textarea{
    border-radius: 15px;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    border: 1px solid #e7e7e7;
    height: 40px;
    width: 300px;
    background: #fff;
    padding-top: 1%;
    visibility: hidden;
}

.footer {
	background: black;
	color: white;
	text-align: center;
	height: 100px;
}

.contact-details {
	line-height: 100px;
}

.fa {
	margin-left: 15px;
}

.footer-break-line {
	display: none;
}