.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.testTypeSelector {
    margin-left: 10px;
}

.selectorButtons {
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: grey;
    color: white;
    text-align: center;
    display: inline-block;
    border: 1px solid #555;
    box-sizing: border-box;
    cursor: pointer;
}

.selectorButtons:hover {
    background: #666;
    color: #fafafa;
}

.selectorButtons.active {
    background: #fafafa;
    border: 1px solid #666;
    color: #666;
    box-shadow: 0px 0px 5px black;
}