.scores-container {
    margin-top: 120px;
    margin-left: 5%;
}

.scores-container > p {
    font-size: 34px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    color: #505050;
    margin-bottom: 20px;
}

.scores-container .fa {
    font-size: 0.8em;
}

.scores {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #ddd;
}

.scores > thead {
    border-bottom: 2px solid #ddd;
}

.scores > tbody > tr {
    border-bottom: 1px solid #ddd;
}

.scores td {
    padding: 10px;
    box-sizing: border-box;
}

.scores td:nth-child(1) {
    font-weight: 500!important;
}

.scores th {
    box-sizing: border-box;
    padding: 10px;
    font-weight: 500!important;
    color: #1b6aff;
    background: #fafafa;
}

.scores tr:nth-last-child(1) {
    color: #1b6aff;
    font-weight: 500!important;
}
