/*! Place your custom styles here */

/*! Place your custom styles here */
.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
    opacity: 1;
}


.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container{
    height: 330px;
}
.front, .back {
    width: 100%;
    height: 330px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    /*    background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;*/
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.front .name {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 60px;
    left: 25%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}



.back h4{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}
.back-logo {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 117px;
}

.back-title {

    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
}
.back p {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}
.flip-back-bg{
    background: #4a90e2 !important;
    border-color: #4a90e2 !important;
    color: #fff;
}
.flip-bg-white{
    background: #fff !important;
}
.flip-list li{
    margin-bottom: 15px;
}
#tests .feature i + h5 {
    margin-top: 1.85714286em;
    margin-bottom: 1.85714286em;
}
#ourTeam .feature-8 img {
    max-height: 14.85714286em;
    width: 14.85714286em;
    border-radius: 50%;
}
#tests .pricing-1 ul {
    margin-bottom: 0px;
}
#tests .tests-flip-box .flip-container{
    height: 200px;
    margin-bottom: 30px
}
#tests .tests-flip-box .front, #tests .tests-flip-box .back {
    width: 100%;
    height: 200px;
}
#tests .tests-flip-box .icon-container{
    margin: -18px;
    padding: 35px 10px;
    background: #efefef;
    height: 150px;
}
#tests .tests-flip-box h5{
    margin-top: 30px;
}
#tests .tests-flip-box .flip-list li {
    margin-bottom: 18px;
    border-bottom: 1px solid #b2b2ff;
    padding-bottom: 18px;
}
#tests .tests-flip-box .flip-list li:last-child {
    border-bottom: none;
}
#college-feature .pricing{
    /* background: #222; */
}

span.note {
    color: #ff1100;
}

@media (min-device-width:768px) and (max-device-width:1024px){
    .boxed.boxed--sm {
        padding: .5em;
    }
    .bar__module{
        display: inline-block;
    }
    #menu1 .bar__module:last-child{
        float: right;
    }
}
@media (min-width:768px) and (max-width:992px){
    #ourTeam .team-primary .feature{
        min-height: 350px;
    }
}
@media (min-width: 992px){
    #ourTeam .team-primary .feature{
        min-height: 460px;
    }
}
@media (min-width:320px) and (max-width:767px){
    #ourTeam .team-primary .feature{
        margin-bottom: 15px;
    }
    #ourTeam .team-secondry .feature{
        margin-top: 15px;
    }
}