body {
	background: cornsilk;
}

img#beatest-logo{
	height:60px;
	position: fixed;
	padding: 5px 0 0 30px;
	z-index: 200;
}

#testsDisplay{
	color: #555;
	background: rgba( 239, 239, 61 , 0.6);
	padding:20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#eachTest {
    margin-top: 30px;
}

#eachTest>#name {
    height: 50%;
    background: black;
    padding: 20%;
    width: 50%;
    text-align: center;
    color: white;
    width: 100%;
}

#eachTest>#testType {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

#eachTest>#score, #date_attempted, #highestScore {
    text-align: center;
    color: black;
    font-size: large;
}

#eachTest>#score {
    margin-top: 10px;
}

#eachTest>#date_attempted, #highestScore {
    margin-top: 10px;
}

.section-button {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.college-panel {
    width: 100%;
    height: 100%;
    float: right;
    margin: 10px 0 10px 0;
    background-color: rgba(27, 177, 58, 0.7);
    padding: 45px;
}

.collegeName {
    font-weight: bolder;
    font-size: 300%;
    text-align: center;
    margin-top: 20px;
}

.xtra {
    text-align: center;
    margin-top: 40px;
}

.rank {
    float: left;
}

.percentile {
    float: right;
}

.row2 {
    font-weight: bolder;
    font-size: 180%;
}

#rankPercentile {
    text-align: center;
    margin-bottom: 150px;
}

.nav{
	background: rgba( 239, 239, 61 , 0.6);
	position: fixed;
	z-index: 100;
}