body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none!important;
}

a:hover {
	text-decoration: underline;
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 12px;
	margin: 0 2px;
	padding: 0 5px;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

p, ul {
	margin: 15px 0;
}

ul {
	padding-left: 30px;
}

.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: rgba( 239, 239, 61 , 0.6);
	overflow: visible;
	z-index: 100;
}

.nav > img {
	float: left;
	padding: 0px 0px 0px 60px!important;
	height: 70px!important;
	opacity: 1;
   
}

.nav .brand{
	float: left;
	padding: 20px 0 0 20px;
	height: 60px;
	color: black;
	font-size: 25px;
}

.nav > a {
	text-align: center;
	line-height: 60px;
	box-sizing: border-box;
	list-style: none;
	float: right;
	width: 15%;
	max-width: 150px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
	border: 40px solid transparent;
	transition: border 1s;
}

.nav > a:hover {
	background: rgba(246, 181, 25, 0);
	border-bottom: 30px solid black;
}

.nav-button-index {
	margin: 15px;
	float: right;
	padding: 0px;
	border: none;
	border-radius: 25px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background:  #232321;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
}

.profile-pic-nav-button {
	margin: 15px 40px 15px 20px;
	float: right;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background: #ff7300;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
}

.banner-index {
	background: url('images/Layer6.png');
	background-size: cover;
	background-position: center;
	height: 700px;
	margin-top: 0px;
}

.banner-embedded-index{
	position: absolute;
	margin-top: 15%;
	padding-top: 2%;
	padding-bottom: 0%;
    justify-content: center;
    align-content: center;
    align-items: center;
	height: 220px;
	width: 100%;
	background: rgba( 239, 239, 61 , 0.6);
	text-align: center;
	font-size: 80px;
}

.banner-achievement{
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 30px;
	height: 400px;
}

.banner-achievement .achievement-one{
	position: absolute;
	margin: 40px auto;
	margin-left: 0px;
	float: right;
	margin-right: 0px;
	text-align: center;
	width: 100%;
	height: 400px;
	padding: 20px;
	font-size: 30px;
	overflow-x: hidden;
}

.banner-achievement .achievement-two{
	margin: 400px auto;
	text-align: center;
	font-size: 30px;
	position: absolute;
    background-color: rgba( 27, 177, 58 ,0.7);
    width: 100%;
    height: 230px;
}

.achievement-one .four_comp{
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
}
.four_comp h1{
	font-size:18px;
	padding-top: 10px;
	border:none;
}

.four_comp p{
	font-weight: bold;
	font-size:15px;
	text-align: justify-all;
}

#comp_students h1{
	font-size:18px;
	margin-top: 160px;
	padding-top: 10px;
}

#comp_students p{
	font-size:15px;
	text-align: justify-all;
}

#comp_tests h1{
	font-size:18px;
	margin-top: 160px;
}

#comp_tests p{
	font-size:15px;
	text-align: justify-all;
}

#comp_achiever h1{
	padding-top: 10px;
	font-size:18px;
	margin-top: 165px;
	padding-top: 10px;
}

#comp_acheiver p{
	font-size:15px;
	text-align: justify-all;
}

#comp_questions{
	background-image: url("graph.png");	
	height: 200px;
}

#comp_students {
	background-image: url("india_map.png");
	height: 200px;
	margin-top: -200px;
	margin-left: 300px;
}

#comp_tests {
	background-image: url("android-clock.png");
	height: 200px;
	margin-top: -200px;
	margin-left: 580px;
}

#comp_achiever{
	background-image: url("graduate-member.jpg");
	height: 200px;
	width: 300px;
	margin-top: -200px;
	margin-left: 880px ;
}

.achievement-two > img{
	background-image: url("SundarPassportPhoto.jpg");
	margin-left: 35px;
	margin-top: -30px;
	float: left;
	padding: 5px 0 0 30px;
	position: relative;
	border-radius: 50%;
	width: 300px;
	border: 30px solid;
	border-color: rgba( 239, 239, 61 , 0.9);;
	height: 300px;
}

.achievement-two p{
	font-family: sans-serif;
	font-weight: normal;
	color: #4d5656;
	padding: 20px;
	font-size: 30px;
	text-align: justify-all;
}

.signature-acheiver{
	float: right;
	font-size: 15px;
	padding-right: 50px;
	font-weight: bold;

}


.banner-button-div{
	position: absolute;
	margin-top: 35%;
	margin-left: 22%;
	margin-bottom: 20px;
	margin-right: 20px;
	height: 300px;
}

.banner-button-div .banner-button{
	border-radius: 25px;
	font-size: 22px;
	background-color: rgb( 82, 204, 91);
	height:50px;
	margin-top: 10%;
	width: 180px;
	color: black;
	text-align: center;
}

.banner-button-login {
	position: absolute;
	border-radius: 25px;
	font-size: 20px;
	margin-top: 0%;
	margin-left: 40%;
	margin-bottom: 20%;
	margin-right: 20%;
	background-color: rgb( 82, 204, 91);
	height:50px;
	width: 220px;
	color: black;
	text-align: center;
}

.banner-embedded-index div p{
	font-size: 30px;
}

.courses {
	margin: 100px auto;
	text-align: center;
	width: 100%;
}

.courses-heading {
	font-size: 1.2em;
	color: #ffc10e;
	width: 20%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}

.courses-heading > h1 {
	border-bottom: 5px double;
}

.courses-type {
	width: 100%;
	display: inline-flex;
}

.courses a {
	width: 50%;
	color: #666!important;
}

.course-box {
	transition: all 0.6s ease;
	border: 15px solid black;
    width: 300px;
    margin: 0px auto;
    transition: all 0.3 ease;
	background-color: #ffc10e;
}

.course-box:hover {
    border: 15px solid #666;
	cursor: pointer;
}


.course-name-box {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
	
}
#course-list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	 font-size: 0;
}
#course-list-item {
    display: inline-block;
margin:0 20px 20px 0;
}

.course-name-sbipo {
	transition: all 0.8s ease;
	width: 100px;
    height: 100px;
    border: 5px solid #ffc10e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffc10e;
    margin: 30px 0px;
    position: relative;
background-image: url("sbi.gif");

}
.course-name-ibpspo {
	transition: all 0.8s ease;
	width: 100px;
    height: 100px;
    border: 5px solid #ffc10e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffc10e;
    margin: 30px 0px;
    position: relative;
background-image: url("ibps.gif");

}.course-name-cat {
	transition: all 0.8s ease;
	width: 100px;
    height: 100px;
    border: 5px solid #ffc10e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffc10e;
    margin: 30px 0px;
    position: relative;
background-image: url("cat.gif");

}
.course-box:hover {
	background-color: white!important;
}

.course-box:hover .course-name-sbipo {
	background-image: url("sbihover.gif")!important;
}
.course-box:hover .course-name-sbipo-desc {
	font-size: 1.5em;
}
.course-box:hover .course-name-ibpspo {
	background-image: url("ibpshover.gif")!important;
}
.course-box:hover .course-name-ibpspo-desc {
	font-size: 1.5em;
}
.course-box:hover .course-name-cat {
	background-image: url("cathover.gif")!important;
}
.course-box:hover .course-name-cat-desc {
	font-size: 1.5em;
}
.course-name-sbipo:before {
	display: none;
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #ccc;
    bottom: -38px;
    right: auto;
    left: auto;
}

.course-name-sbipo:after {
	display: none;
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: #ffb606;
    bottom: -40px;
    left: calc(50% - 30px);
}

.course-name-sbipo-desc {
	margin-top: 30px;
	font-size: 1.4em;
    font-weight: normal;
    color: #666;
	transition: all 0.5s ease;
}

.course-name-ibpspo:before {
	display: none;
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #ccc;
    bottom: -38px;
    right: auto;
    left: auto;
}

.course-name-ibpspo:after {
	display: none;
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: #ffb606;
    bottom: -40px;
    left: calc(50% - 30px);
}

.course-name-ibpspo-desc {
	margin-top: 30px;
	font-size: 1.4em;
    font-weight: normal;
    color: #666;
	transition: all 0.5s ease;
}
 

.course-name-cat:before {
	display: none;
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #ccc;
    bottom: -38px;
    right: auto;
    left: auto;
}

.course-name-cat:after {
	display: none;
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: #ffb606;
    bottom: -40px;
    left: calc(50% - 30px);
}

.course-name-cat-desc {
	margin-top: 30px;
	font-size: 1.4em;
    font-weight: normal;
    color: #666;
	transition: all 0.5s ease;
}


.user-panel {
	display: none;
	position: fixed;
	width: 100%;
	z-index: 200;
}

.black-background {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.panel {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 240px;
	width: 320px;
	max-width: 80%;
	margin: auto;
	text-align: center;
}

.close-panel {
	cursor: pointer;
	margin: 0!important;
    position: absolute;
    right: -20px;
    top: -25px;
    background: #999;
    color: #fff;
    padding: 6px;
}

.panel > div {
	margin-top: 10px;
	font-size: 12px;
}

.user-panel.block {
	display: block;
}

.user-panel-input {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 10px;
	border: 0;
	border-bottom: 1px solid #ccc;
}

.login-panel-text {
	color: black;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	padding-left: 10px;
}

.login-panel-text > a {
	cursor: pointer;
	color: #9f9f9f;
	font-weight: 500;
	text-decoration: none;
}

.user-panel-button {
	box-sizing: border-box;
	width: 70px;
	height: 32px;
	margin-top: 10px;

	cursor: pointer;

	color: #eee;
	border: none;
	background: #484848;
	box-shadow: 1px 1px 3px #fff;
}

.promo-code-button {
	box-sizing: border-box;
	height: 32px;
	margin-top: 10px;
	cursor: pointer;
	color: #eee;
	border: none;
	background: #484848;
	box-shadow: 1px 1px 3px #fff;
}

.panel > form label {
    font-size: 12px;
    clear: both;
    width: 100%;
    color: red;
}

.social-media-login {
	display: inline-flex;
}

.social-media-login > div.space {
	width: 20px;
}

.user-menu {
	display: none;
	background: rgb(247, 195, 71);
	z-index: 200;
	position: fixed;
	right: 20px;
	top: 80px;
	padding: 0;
	border: 1px solid #666;
}

.user-menu.block{
	display: block;
}

.user-menu.block > .arrow {
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background: rgb(247, 195, 71);
	right: 50%;
	position: absolute;
	left: 50%;
	margin-left: -7px;
	top: -5px;
	z-index: 101;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

.user-menu > a {
	color: #222;
    text-decoration: none!important;
}

.user-menu li {
	text-align: center;
	list-style: none;
	padding: 10px 15px;
	cursor: pointer;
	border-bottom: 1px solid #946e54;
}

/* .features {
	text-align: center;
    padding: 80px 0;
    padding-right: 6%;
    background: #f3f3f3;
}

.features-heading {
    margin: 30px 0 20px 6%;
}

.features h1 {
	color: #ffc10e;
	border-bottom: 5px double;
	margin: auto;
	width: 250px;
}

.feature {
	text-align: left;
	width: 41%;
	vertical-align: top;
	margin: 50px 0 0 6%;
	color: #555;
	display: inline-block;
} */

.contact {
	background-image: url(./images/Layer7.png);
    background-size: cover;
    position: relative;
    background-position: bottom;
}

.contact_spot{
	position: absolute;
	margin-left: 18%!important;
	margin-top: 5%!important;
	height: 80%!important;
	width: 40%!important;
	border: none;
	background-color: white!important;
	border-radius: 50%;
}
.spot{

	opacity: 0.4;
}
.spot_1{
	background-color: rgb(255,255,102)!important;
	opacity: 0.85;
}

.contact-overlay {
	position: absolute;
    background-color: rgba( 27, 177, 58 ,0.7);
    width: 100%;
    height: 100%;
}

.contact-content {
	text-align: center;
	width: 80%;
	margin: auto;
	padding: 8%;
	position: relative;
	color: black;
	overflow: auto;
}

.contact-content > .contact-heading {
	margin: 0 auto;
	width: 25%;
	font-size: 40px;
}

.contact .fa-facebook{
	position: absolute;
	margin-top: -2%!important;
	margin-left: -70%!important;
}

.contact .fa-twitter{
	position: absolute;
	margin-top: -10%!important;
	margin-left: -68%!important;
}

.contact .fa-google-plus{
	position: absolute;
	margin-top: 6%!important;
	margin-left: -68%!important;
}
#contact {
	width: 80%;
	margin: 30px auto;
}

#contact > div {
	width: 80%;
	float: left;
}

.form-group > label {
	width: 100%;
	text-align: center;
    float: left;
    border: 0;
    border-bottom: 0px solid red;
    outline: 0;
    margin-left: 40px;
	color: black;
	font-size: 20px;
}


.form-control {
	background:transparent;
	border: none;
    border-bottom: 1px solid black;
    outline: 0;
    display: inline-block;
    width: 80%;
	padding: 5px 10px;
	margin: 2px;
	border-radius: 0px;
	font-weight: bold;
	line-height: 28px;
	color: black;
	font-size: 18px;
}
.form-control input::placeholder{
	color: black;

}
textarea .form-control {
	font-weight: normal;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 3px;
	border: 0;
	width: 80%;
	line-height: 28px;
	font-size: 20px;
	font-family: sans-serif;
}

.contact-form-button {
	display: block;
	margin-top: 60px;
	margin-bottom: 30px;
	border-radius: 30px;
	margin-left: 45px;
	background-color: rgba( 27, 177, 58 ,0);
	width: 150px;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    padding: 10px 5px;
    line-height: normal;
    letter-spacing: 3px;
    transition: all 0.1s ease;
	text-align: center;
	font-weight: bold;

}

.contact-form-button:hover {
	background-color: transparent;
	color: black;
}

.contact-form-button i {
	margin-right: 5px;
}

.social-media i {
	color: white;
    width: 50px;
    height: 50px;
    background-color: #0e170e;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 17px;
    transition: all 0.1s ease;
}

.social-media{
	color:black;
	font-size: 15px!important;
}

.social-media i.fa:hover {
    box-sizing: border-box;
    color: #ffc10e;
    background: #1d1d1d;
}

.social-m{
    background-color: black;
}

.social-m i {
	color: white;
    width: 50px;
    height: 50px;
    background-color: #0e170e;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 17px;
    transition: all 0.1s ease;
}

.social-m i.fa:hover {
    box-sizing: border-box;
    color: #ffc10e;
    background: #1d1d1d;
}

.footer {
	background: black;
	color: white;
	text-align: center;
	height: 100px;
}

.contact-details {
	line-height: 100px;
}

.fa {
	margin-left: 15px;
}

.footer-break-line {
	display: none;
}

@media only screen and (max-width: 725px) {

	.nav > img {
		padding: 5px 10px!important;
		height: 10px!important;
	}

	.nav-button {
		margin: 10px!important;
		box-shadow: none!important;
	}

	.nav-button.mobile {
		margin: 0 50%!important;
		left: -48px;
		position: absolute;
	}

	.nav > a {
		display: none!important;
	}

	.user-menu {
		right: 75px!important;
		top: 68px!important;
	}

	.mobile-nav-button {
		color: #222;
		float: right;
		line-height: 60px;
		margin-right: 20px;
	}

	.mobile-nav {
		position: absolute;
		top: 60px;
		right: 0;
		left: 0;
		height: 100vh;
		background: rgba(0,0,0,0.9);
		color: #fff;
		text-align: center;
	}

	.mobile-nav > a {
		display: block!important;
		width: 100%!important;
		line-height: 15vh;
	}

	.banner-index {
		margin-top: 60px!important;
	}
}

@media only screen and (max-width: 700px) {

	.courses {
		margin: 100px 5%!important;
		width: 90%!important;
	}

	.courses-heading {
		width: 100%!important;
	}

	.courses a {
		width: 100%!important;
	}

	.banner-index{
		width: 100%!important;
		height: 600px;
	}

	.banner-embedded-index{
		width: 100%!important;
		height: 250px; 
	}

	.banner-embedded-index b{
		font-size: 40px;
		text-align: justify;
	}

	.banner-embedded-index div p {
		font-size: 20px;
		text-align: justify-all;
		margin-top: -20px!important;
	}

	.course-box {
		border: none!important;
		width: 100%!important;
	}
	.course-box-mba {
		border: none!important;
		width: 100%!important;
	}

	.course-name-sbipo::before {
		content: none!important;
	}

	.course-name-sbipo::after {
		content: none!important;
	}
	.course-name-ibpspo::before {
		content: none!important;
	}

	.course-name-ibpspo::after {
		content: none!important;
	}
	.course-name-cat::before {
		content: none!important;
	}

	.course-name-cat::after {
		content: none!important;
	}


	.feature {
		text-align: justify!important;
		width: 82%!important;
	}

	.contact-content {
		width: 90%!important;
		padding: 5%!important;
	}

	.contact-heading {
		width: 90%!important;
	}

	#contact {
		width: 100%!important;
	}

	#contact > div {
		width: 100%!important;
	}

	.footer {
		height: 120px!important;
	}

	.contact-details {
		line-height: 40px!important;
		padding-top: 20px!important;
	}

	.fa.fa-ellipsis-v {
		display: none!important;
	}

	.banner-achievement{
		height:750px!important;
	}

	.achievement-one{
		height:550px!important;
		overflow-x: hidden;
	}

	#comp_questions{
		margin:5px!important;
	}

	#comp_students{
		margin-left: 300px!important;
	}

	#comp_tests{
		margin-left: 5px!important;
		margin-top: 120px!important;
	}

	#comp_tests h1{
		margin-left: 5px!important;
		margin-top: -130px!important;
	}

	#comp_achiever{
		margin-left: 260px!important;
		margin-top: -170px!important;
	}

	#comp_achiever h1{
		margin-left: 0px!important;
		margin-top: -130px!important;
		text-align: justify-all;
	}


	.achievement-two{
		position: absolute;
		margin-top: 750px!important;
	}
	.banner-achievement .achievement-two p{
		font-size:15px!important;
		padding:5px!important;
	}

	.banner-achievement .achievement-two span{
		font-size: 10px!important;
		padding: 5px!important;
	}

	.achievement-two img{
		width: 320px!important;
		height: 300px!important;
		margin-left: 0px!important;
	}

	.banner-button-login{
		position: absolute;
		margin-left: 40px;
		margin-top: 170px;
		font-size: 17px;
		font-weight: normal;
	}

	.banner-button{
		height: 40px!important;
		position: absolute;
		margin-left: 80px!important;
		width: 130px!important;
		font-size: 17px!important;
	}

	#banner-button-cat{
		margin-top: 230px!important;
	}

	#banner-button-sbipo{
		margin-top: 290px!important;
	}

	#banner-button-ibpspo{
		margin-top: 350px!important;
	}

	.footer-break-line {
		display: block!important;
	}

	textarea.form-control {
		resize: vertical!important;
	}
}

@media only screen and (max-width: 305px) {
	* {
		display: none;
	}
}
