body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none!important;
}
a:hover {
	text-decoration: underline;
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 12px;
	margin: 0 2px;
	padding: 0 5px;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

p, ul {
	margin: 15px 0;
}

ul {
	padding-left: 30px;
}

.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: rgba( 239, 239, 61 , 0.6);
	overflow: visible;
	z-index: 100;
}

.new-college {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	height: 32px;
	border: none;
	border-bottom: 1px solid black;
	background-color: rgba(0,0,0,0);
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	width: 100%;
	font-weight: bold;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    overflow-y:scroll;
	max-height: 60px;
}

.nav > img {
	float: left;
	padding: 5px 0 0 30px;
	height: 60px;
}

.nav .brand{
	float: left;
	padding: 20px 0 0 20px;
	height: 60px;
	color: black;
	font-size: 25px;
}

.nav > a {
	text-align: center;
	line-height: 60px;
	box-sizing: border-box;
	list-style: none;
	float: right;
	width: 15%;
	max-width: 150px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
	border: 5px solid transparent;
	transition: border 1s;
}

.nav > a:hover {
	background: rgba(246, 181, 25, 1);
	border-bottom: 5px solid #ffecbf;
}

.nav-button {
	margin: 15px;
	float: right;
	padding: 5px;
	border: none;
	border-radius: 25px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background:  #232321;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
}

.profile-pic-nav-button {
	margin: 15px 40px 15px 20px;
	float: right;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background: #ff7300;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
}

.two {
	background: url('images/Layer7.png');
	background-size: cover;
	background-position: center;
	height: 670px;
	margin-top: 0px;
}

.beatest-colleges {
	text-align: left;
	width: 41%;
	vertical-align: top;
	margin: 260px 0 0 0%;
	color: #555;
	background: rgba( 239, 239, 61 , 0.6);
	padding:50px;
	float:left;
}
.beatest-colleges h1{
	padding-left:25px;
}
.user-edit-panel{
	width: 30%;
	float:right;
	margin: 200px 410px 200px 200px;
	display: absolute;
	background-color: rgba(27,177,58,0.7);
	padding: 45px;
}

.user-edit-panel input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  height: 32px;
  border: none;
  border-radius: 1px;
  border-bottom: 1px solid block;
  background-color: rgba(0,0,0,0);
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  font-weight: bold;
}


.dropdown__content_new {
    max-height:300px;
    overflow-y:auto;
    display: none;
    padding: 15px;
    text-align: left;
    background-color: rgba(27,177,58,0);
    position: absolute;
    font-size: 15px;
    width: 300px;

}

.dropdown-user-college-edit textarea{
    border-radius: 15px;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    border: 1px solid #e7e7e7;
    height: 40px;
    width: 300px;
    background: #fff;
    padding-top: 1%;
    visibility: hidden;
}

.dropdown-user-college-edit {
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    height: 32px;
  	border: none;
  	border-radius: 1px;
  	border-bottom: 1px solid black;
    background-color: rgba(27,177,58,0);
    width:100%;
    padding-top: 1%;
}

.dropdown:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.tt {
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    border: 1px solid #e7e7e7;
    height: 40px;
    width: 300px;
    background: #fff;
    padding-top: 1%;
    visibility: hidden;
}

.nav-button.mobile {
	margin: 0 25%!important;
	position: absolute;
	right: -150px;
}

.dropdown__content-old-user-college {
    max-height:450px;
    overflow-y:auto;
    display: none;
    padding: 15px;
    text-align: left;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    font-size: 15px;
    background-color: rgba(27,177,58,0.4);
    border: 1px solid #e7e7e7;

}

.banner-button-div-submit{
	position: absolute;
	margin-top: 15%;
	margin-left: 35%;
	margin-right: 20%;
	height: 200px;
}

.college-submit-button{
	border-radius: 25px;
	margin-left: 50px;
	font-size: 22px;
	background-color: rgb( 82, 204, 91);
	height:33px;
	width: 150px;
	color: black;
	text-align: center;
}

.dropdown--active .dropdown__content {
    display: block;
    background: #fff;
    border: 1px solid #e7e7e7;
}

.dropdown-embedded-college{
	position: absolute;
	margin-top: 15%;
	padding-top: 3%;
	padding-bottom: 0%;
    justify-content: center;
    align-content: center;
    align-items: center;
	height: 200px;
	width: 100%;
	background: rgba( 239, 239, 61 , 0.6);
	text-align: center;
	font-size: 30px;
}

.dropdown-embedded-college .banner-button{
	border-radius: 25px;
	font-size: 22px;
	background-color: rgb( 82, 204, 91);
	height:33px;
	width: 150px;
	color: black;
	text-align: center;
}

.dropdown-embedded-college textarea{
    border-radius: 15px;
    display: inline-block;
    font-size: 15px;
    font-color: #d3d3d3;
    border: 1px solid #e7e7e7;
    height: 40px;
    width: 300px;
    background: #fff;
    padding-top: 1%;
    visibility: hidden;
}

.college-user-edit-ul{
	max-height:450px;

}
.user-edit-panel input::placeholder{
	color: black;
	font-weight: bold;
}
.user-edit-panel-button{
	margin-top: 10px;
	float: right;
	padding: 0px;
	border: none;
	border-radius: 25px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background:  #232321;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
	color: white;
	font-size: 15px;
}
.college-user-panel p{
	margin-top: 70px;
	margin-left: 75px;
}

@media only screen and (max-width: 700px) {

	.beatest-colleges{

		width:90%;
		display: block;
		margin:0;
		margin-top: 120px;
		padding-left:5%;
		padding-right:5%;
			}
	.college-user-panel{
		width: 100%;
		display: block;
		margin:0;
	}
	.college-user-panel input{
		width: 60%;
		margin-left:20%;
		margin-right:20%;
	}
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none!important;
}
a:hover {
	text-decoration: underline;
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 12px;
	margin: 0 2px;
	padding: 0 5px;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

p, ul {
	margin: 15px 0;
}

ul {
	padding-left: 30px;
}

.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: rgba( 239, 239, 61 , 0.6);
	overflow: visible;
	z-index: 100;
}

.nav > img {
	float: left;
	padding: 5px 0 0 30px;
	height: 60px;
}

.nav .brand{
	float: left;
	padding: 20px 0 0 20px;
	height: 60px;
	color: black;
	font-size: 25px;
}

.nav > a {
	text-align: center;
	line-height: 60px;
	box-sizing: border-box;
	list-style: none;
	float: right;
	width: 15%;
	max-width: 150px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
	border: 5px solid transparent;
	transition: border 1s;
}

.nav > a:hover {
	background: rgba(246, 181, 25, 1);
	border-bottom: 5px solid #ffecbf;
}

.nav-button {
	margin: 15px;
	float: right;
	padding: 5px;
	border: none;
	border-radius: 25px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background:  #232321;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
}


.profile-pic-nav-button {
	margin: 15px 40px 15px 20px;
	float: right;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background: #ff7300;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
}

.one {
	background: url('images/Layer7.png');
	background-size: cover;
	background-position: center;
	height: 700px;
	margin-top: 0px;
}

.beatest-colleges {
	text-align: left;
	width: 41%;
	vertical-align: top;
	margin: 260px 0 0 0%;
	color: #555;
	background: rgba( 239, 239, 61 , 0.6);
	padding:50px;
	float:left;
}
.beatest-colleges h1{
	padding-left:25px;
}
.college-user-panel{
	width: 30%;
	float:right;
	margin: 230px 0 0 0;
	display: absolute;
	background-color: rgba(27,177,58,0.7);
	padding: 45px;
}
.college-user-panel input{
	width: 100%;
}
.college-user-panel input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  height: 32px;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(0,0,0,0);
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
.college-user-panel input::placeholder{
	color: black;
	font-weight: bold;
}
.register-college-button{
	margin-top: 10px;
	float: right;
	padding: 0px;
	border: none;
	border-radius: 25px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	background:  #232321;
	box-shadow: 0px 0px 10px #fff;
	cursor: pointer;
	color: white;
	font-size: 15px;
}
.college-user-panel p{
	margin-top: 70px;
	margin-left: 75px;
}

@media only screen and (max-width: 700px) {

	.beatest-colleges{

		width:90%;
		display: block;
		margin:0;
		margin-top: 120px;
		padding-left:5%;
		padding-right:5%;
			}
	.college-user-panel{
		width: 100%;
		display: block;
		margin:0;
	}
	.college-user-panel input{
		width: 60%;
		margin-left:20%;
		margin-right:20%;
	}


.user-edit-panel {
	height:300px!important;
	width:100%!important;
	display: block!important;
	margin:0!important;
	margin-top: 170px!important;
	padding-left:20%!important;
	padding-right:20%!important;
}
}
