.user-profile-test-container .feature h3 {
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.user-profile-test-container .feature a.btn {
	margin-top: 15px;
}