.test-area .question .choice, .solution-area .question .choice {
	display: flex;
	align-items: center;
}

.test-area .question .choice input.choice-radio, .solution-area .question .choice input.choice-radio {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 6px;
}

.test-area .question .choice span *, .solution-area .question .choice span * {
	margin: 0;
	padding: 0;
}