.testslist-container ul.testslist-tablist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testslist-container ul.testslist-tablist li.testslist-tablist-tab {
  padding: 10px 15px;
  border: 1px solid #eaeaea;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #aaa;
  cursor: pointer;
}

.testslist-container ul.testslist-tablist li.testslist-tablist-tab.react-tabs__tab--selected * {
  color: rgb(77, 144, 254) !important;
}

.testslist-container ul.testslist-tablist li.testslist-tablist-tab * {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: inherit;
}

.testslist-container ul.testslist-tablist li.testslist-tablist-tab:hover {
  color: rgba(77, 144, 254, 0.7);
}

.testslist-container ul.testslist-tablist li.testslist-tablist-tab:first-child {
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.testslist-container ul.testslist-tablist li.testslist-tablist-tab:nth-child(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}